@model IEnumerable<Product>

@foreach (var product in Model)
{
    <div class="col mb-5 product-item" data-category="@product.CategoryId">
        <div class="card h-100">
            <img class="card-img-top" src="@product.ImageUrl" alt="..." />
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@product.Name</h5>
                    <p>@product.ShortDesc</p>
                    <strong>@product.Price.ToString("C", new System.Globalization.CultureInfo("hi-IN"))</strong>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center mb-3">
                    <a class="btn btn-warning form-control w-75" asp-area="Customer" asp-controller="Home" asp-action="Details"><i class="bi bi-cart"></i> Add to Cart</a>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-primary form-control w-75" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-productID="@product.Id">More Details</a>
                </div>
            </div>
        </div>
    </div>
}