@model ProductDetailsVM

<!-- Product section-->
<form asp-action="Details" method="post">
    <input hidden asp-for="Cart.ProductId" name="ProductId" />
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Cart.Product.ImageUrl" alt="..." /></div>
                <div class="col-md-6">
                    @* <div class="small mb-1">SKU: BST-498</div> *@
                    <h1 class="display-5 fw-bolder">@Model.Cart.Product.Name</h1>
                    <div class="fs-5 mb-4">
                        @*                     <span class="text-decoration-line-through">$45.00</span> *@
                        <span>@Model.Cart.Product.Price.ToString("C", new System.Globalization.CultureInfo("hi-IN"))</span>
                    </div>
                    <div>
                        <p>@Model.Cart.Product.ShortDesc</p>
                    </div>
                    <h2>Specifications :</h2>
                    <p class="lead">@Html.Raw(Model.Cart.Product.Description)</p>
                    <div class="d-flex">
                        <input asp-for="Cart.Count" class="form-control text-center me-3" id="inputQuantity" type="number" name="Count" value="1" style="max-width: 4rem" />
                        <button class="btn btn-warning flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var relatedProduct in Model.RelatedProducts)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="@relatedProduct.ImageUrl" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@relatedProduct.Name</h5>
                                <p>@relatedProduct.ShortDesc</p>
                                <strong>@relatedProduct.Price.ToString("C", new System.Globalization.CultureInfo("hi-IN"))</strong>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-black mt-auto" href="@Url.Action("Details", "Home", new { productID = relatedProduct.Id })">View Details</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>